.navbarbtn{
    background-color: rgba(246, 206, 29, 0.9); /* Green */
    border: 10px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.navbarbtn:hover {
    background-color: #043390; /* Green */
    color: white;
  }

body{
    background-color: rgba(241, 235, 178, 0.571);
}